body {
	font-size: 1em;
	font-family: 'Source Sans Pro', Arial, sans-serif;
	background: url(../images/background.png) no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	margin: 0;
}

#linksMenu {
	background-color: #525266;
	width: 100%;
	padding: 48px 0 8px;
	text-align: center;
}

#linksMenu label {
	font-size: 2em;
	font-weight: 600;
	color: #eee;
	text-decoration: none;
	margin: 4px 48px;
	padding: 0 12px;
	border-bottom: 8px solid #d2564a;
	opacity: 0.6;
	cursor: pointer;
}

#linksMenu label:hover {
	opacity: 1;
}

#linksMenu label.active {
	opacity: 1;
}

.contentBlock {
	width: 80%;
	margin: auto;
}

.contentBlock p {
	font-size: 1.8em;
	font-weight: 600;
}