<!doctype html>
<html>
	<head>
		<title>Famille Buisson</title>
	    <link rel="stylesheet" type="text/css" href="../css/index.css" />
	    <link href='http://fonts.googleapis.com/css?family=Playball:400,700' rel='stylesheet' type='text/css'>
	</head>
	<body ng-app="buissonApp">
		<div ng-view=""></div>

		<script src="../../bower_components/jquery/jquery.js"></script>
	    <script src="../../bower_components/angular/angular.js"></script>
	    <script src="../../bower_components/bootstrap/dist/js/bootstrap.js"></script>
	    <script src="../../bower_components/angular-route/angular-route.js"></script>

	    <script type="text/javascript" src="../scripts/app.js"></script>
	    <script type="text/javascript" src="../scripts/main.js"></script>
	</body>
</html>